<DOCTYPE! html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <title>Flask Mini Twitter</title>        
</head>
<body>

    <h1>Mini Twitter</h1>

    {% for message in get_flashed_messages() %}
        <p> {{ message }} </p>
    {% endfor %}
    
    {% if not session.logged_in %} 
    <a href="{{url_for('register')}}">Register</a>
    <a href="{{url_for('login')}}">Login</a>
    {% else %}
    <a href="{{url_for('create')}}">New Status</a>
    <a href="{{url_for('user_profile', username=session.username)}}">Profile</a>
    <a href="{{url_for('logout')}}">Logout</a>
    {% endif %}
    <hr>
    
    {% block body %} {% endblock %}

</body>
</html>    